<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Account Selection</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="/css/styles.css">
<script type="text/javascript" src="/js/main.js"></script>
</head>
<body>
	<div align="center">
		<h1 class="header">Account Information</h1>
	</div>
	<div id="nominee-section" align="center" style="display: none;">
		<form action="/accountDetails" onsubmit="saveNomineeInfo()"
			method="post">
			<p>
				<input id="firstName" class="textbox" type="text"
					placeholder="First Name" maxlength="20"
					onkeypress="return isAlphaKey(event)" autofocus />
			</p>
			<p>
				<input id="middleName" class="textbox" type="text"
					placeholder="Middle Name (Optional)" maxlength="20"
					onkeypress="return isAlphaKey(event)" />
			</p>
			<p>
				<input id="lastName" class="textbox" type="text"
					placeholder="Last Name" maxlength="20"
					onkeypress="return isAlphaKey(event)" />
			</p>
			<p>
				<select id="suffix" class="textbox">
					<option value="" style="display: none;">Suffix (Optional)</option>
					<option value="">None</option>
					<option value="JR">Jr.</option>
					<option value="SR">Sr.</option>
					<option value="II">II</option>
					<option value="III">III</option>
					<option value="IV">IV</option>
					<option value="V">V</option>
				</select>
			</p>
			<div id="ssn" class="ssn">
				<label class="text">SSN </label> <input id="ssn1" name="ssn1"
					class="ssn" type="password" pattern=".{3,}" placeholder="XXX"
					maxlength="3" onKeyup="autotab(this, document.personalInfo.ssn2)"
					onkeypress="return isNumberKey(event)" /> <label> - </label> <input
					id="ssn2" name="ssn2" class="ssn" type="password" pattern=".{2,}"
					placeholder="XX" maxlength="2"
					onKeyup="autotab(this, document.personalInfo.ssn3)"
					onkeypress="return isNumberKey(event)" /> <label> - </label> <input
					id="ssn3" name="ssn3" class="ssn" type="password" pattern=".{4,}"
					placeholder="XXXX" maxlength="4"
					onkeypress="return isNumberKey(event)" />
			</div>
			<p>
				<input id="dob" class="textbox" type="date" placeholder="DOB" />
			</p>
			<p>
				<input id="motherMName" class="textbox" type="text"
					placeholder="Mother's Maiden Name" maxlength="20"
					onkeypress="return isAlphaKey(event)" />
			</p>
			<p>
				<input class="btn btn-submit" type="submit" value="Add" />
			</p>
		</form>
	</div>
	<div align="center">
		<input id="nomineeButton" onclick="displayNominee()" type="button"
			class="btn btn-submit" value="Add Nominee" />
		<form action="/confirmation" onsubmit="saveAccountDetails()"
			method="post">
			<p>
				<select id="account" class="textbox">
					<option value="" style="display: none;">Account Type</option>
					<option id="savings-account" value="Savings Account">Savings
						Account</option>
					<option id="checking-account" value="Checking Account">Checking
						Account</option>
					<option id="money-market-account" value="Money Market Account">Money
						Market Account</option>
				</select>
			</p>

			<p>
				<input id="Continue" class="btn btn-submit" type="submit"
					value="Finish" />
			</p>
			<p>
				<a class="link" href="/home">Cancel</a>
			</p>
		</form>
	</div>
</body>
</html>
