body{
	text-align: center;
	font-family: 'Francois One', sans-serif;
	color: darkorange;
}

#logo {
    
	font-size: 60px; 
	color: darkorange;
<<<<<<< HEAD
}
=======
}
>>>>>>> branch 'v1.1.0' of https://github.com/jposthau/AccountOpening
